.home {
    background: #fff;
    height: 100vh;
  }
  .home .slide{
    height: 90vh;
  }
  .home .slide .image {
    flex: 1 1 42rem;
    text-align: center;
  }
  
  .home .slide .image img {
    height: 30rem;
  }
  
  .home .slide .content {
            flex: 1 1 42rem;
  }
  
  .home .slide .content span {
    font-size: 2rem;
    color: #0984e3;
  }
  
  .home .slide .content h3 {
    padding-top: .5rem;
    color: #333;
    font-size: 3.5rem;
  }
  .home .slide .btn{
    background-color: #fff;
    border: 1px solid #0984e3;
    color: #0984e3;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 5px;
  }
  .home .slide .btn:hover{
    background-color: #0984e3;
    color: #fff;
  }

  /* banner section  */
  .banner .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 2rem;
  }
  
  .banner .box-container .box {
    position: relative;
    height: 25rem;
    border: 0.2rem solid #333;
    border-radius: .5rem;
    overflow: hidden;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
  
  .banner .box-container .box:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .banner .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .banner .box-container .box .content {
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  
  .banner .box-container .box .content span {
    font-size: 1.7rem;
    color: #0984e3;
  }
  
  .banner .box-container .box .content h3 {
    font-size: 2rem;
    padding: .5rem 0;
    color: #333;
  }
/* .arrivals section  */
  .arrivals .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(33rem, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 2rem;
  }
  
  .arrivals .box-container .box {
    border-radius: .5rem;
    border: 0.2rem solid #333;
    padding: 2rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    background: #fff;
  }
  
  .arrivals .box-container .box:hover .image .main-img {
    display: none;
  }
  
  .arrivals .box-container .box:hover .image .hover-img {
    display: inline-block;
  }
  
  .arrivals .box-container .box .image img {
    height: 15rem;
    -webkit-animation: fadeIn .2s linear;
            animation: fadeIn .2s linear;
  }
  
  .arrivals .box-container .box .image .hover-img {
    display: none;
  }
  
  .arrivals .box-container .box .content h3 {
    font-size: 2rem;
    color: #333;
  }
  
  .arrivals .box-container .box .content .price {
    padding-top: .5erm;
    font-size: 2rem;
    color: #0984e3;
    padding-bottom: .7rem;
  }
  
  .arrivals .box-container .box .content .price span {
    font-size: 1.5rem;
    color: #666;
    text-decoration: line-through;
  }
  
  .arrivals .box-container .box .content .stars i {
    font-size: 1.5rem;
    color: gold;
  }
  
  
  